<a href="https://colab.research.google.com/github/jaredjq/semana4lp3python/blob/main/Semana04_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Semana 04
MG. Flor Elizabeth Cerdan Leon
# Agendas
1. Numeros
2. Variables
4. Manejo de Cadenas
3. Ingreso por teclado
5. Operadores

Manejo de cadenas

In [ ]:
cadena = "Universidad Tecnologica de Lima Sur"

In [ ]:
cadena

'Universidad Tecnologica de Lima Sur'

In [ ]:
#Universidad Nacional Tecnologica de Lima Sur
#012345..........
#                                        -2  -1

In [ ]:
cadena[11]

' '

In [ ]:
cadena[5]

'r'

In [ ]:
cadena[-5]

'a'

In [ ]:
"""
 Para mostrar una subcadena [desde, hasta una antes]
 en java era substring()
"""

'\n Para mostrar una subcadena [desde, hasta una antes]\n en java era substring()\n'

In [ ]:
# Tama√±o de mi cadena incluye espacios en blanco
len(cadena)

35

In [ ]:
cadena[3:8]

'versi'

In [ ]:
cadena[-3:]

'Sur'

In [ ]:
#para mostrar una caena en mayuscula utilizamos upper()
cadena.upper()

'UNIVERSIDAD TECNOLOGICA DE LIMA SUR'

In [ ]:
cadena.lower()

'universidad tecnologica de lima sur'

In [ ]:
cadena

'Universidad Tecnologica de Lima Sur'

In [ ]:
#cgenera una lista a partir de una cadena.split
cadena.split(" ")

['Universidad', 'Tecnologica', 'de', 'Lima', 'Sur']

In [ ]:
# formato con .format()
nombrecompleto = "Jared Jimenez Quispe"
edad = 24
print("hola {} tu tienes {} a√±os".format(nombrecompleto, edad))

hola Jared Jimenez Quispe tu tienes 24 a√±os

In [ ]:
# formato con .format() condecimales limitados
resultado = 10/3
print("10/3 es = {}".format(resultado))
print("10/3 es = {r:1.3f}".format(r=resultado))

10/3 es = 3.3333333333333335
10/3 es = 3.333

In [ ]:
# formato con f
nombre = "Jared Jimenez Quispe"
edad = 24
print(f"Buenos dias {nombre}, ya se que tienes {edad} a√±os")

Buenos dias Jared Jimenez Quispe, ya se que tienes 24 a√±os

In [ ]:
# formato con f con decimales
resultado = 10/3
print(f"10/3 es = {resultado} ")
print(f"10/3 es = {resultado:1.2f} ")

10/3 es = 3.3333333333333335
10/3 es = 3.33

In [ ]:
nombre = input("Cual es tu name?: ")
print("Hola "+ nombre)

Cual es tu name?: jared
Hola jared

In [ ]:
type(nombre)

str

In [ ]:
n1 = input("numero 1: ")
n2 = input("numero 2: ")
n3 = int(n1) + int(n2)
print("El resultado es :",n3)

numero 1: 12
numero 2: 243
El resultado es : 255

In [ ]:
2